.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header__nav {
    display: flex;
    align-items: center;
} 

.page-header .logo {
        margin-right: 93px;
        padding: 24px 0;
    }


